* {
  box-sizing: border-box;
}

// $basketimgwidth: 40%;

section {
  display: flex;
  justify-content: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

header {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  .wrapper {
    justify-content: space-between;
    align-items: center;
    .logo {
      font-family: "Anton", sans-serif;
      font-size: 36px;
    }
    .nav {
      display: flex;
      justify-content: space-between;
      .nav__item {
        cursor: pointer;
        margin-left: 1.5rem;
        display: flex;
        img {
          width: 21px;
          height: 20px;
          margin-left: 5px;
        }
      }
      .nav__item:last-child {
        margin-left: 7rem;
      }
    }
  }
}

header,
main,
footer,
button {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
}

.content__background {
  background-image: url(../img/background.png);
  background-color: rgb(8, 8, 8);
  width: 100%;
  height: calc(100vh - 65px);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  width: 100%;
  .wrapper {
    height: 100%;
    align-items: center;
  }
}

.info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  h1,
  p {
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: 3rem;
  }
  h1 {
    font-family: "Anton", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: normal;
  }
  p {
    font-weight: 500;
    font-size: 30px;
  }
  button {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
  }
}

.menu {
  .wrapper {
    flex-wrap: wrap;
  }
}

.title {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
}

.menu__header {
  width: 100%;
  position: relative;
  .menu__sort {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: right;
  }
}

.menu__pizza {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 70px;
  .pizza-card {
    text-align: center;
    .pizza-card__image {
      background-image: url(../img/pizza.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 250px;
    }
    .pizza-card__title {
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
    }
    .pizza-card__price-range {
      font-weight: 600;
      font-size: 17px;
    }
    .pizza-card__description {
      font-weight: normal;
      font-size: 14px;
      color: #484848;
    }
    .pizza__price {
      font-weight: normal;
      font-size: 16px;
    }
  }
}

.menu__extend {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #000000;
}

.sales {
  .wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .sales__slider {
    position: relative;
    // max-width: 1000px;
    min-width: 320px;
    padding: 10px 50px 30px;
  }
}

.sales__slider_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  width: 100%;
  height: 528px;
}

.sales__slider_element {
  width: 100%;
  transition: opacity 1s ease-in;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  img {
    width: 100%;
    height: 528px;
    z-index: 10;
  }
}

.sales__slider_arrow-left,
.sales__slider_arrow-right {
  width: 22px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 4;
}

.sales__slider_arrow-left {
  left: 10px;
  top: calc(100% / 2 - 20px);
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png")
    no-repeat;
}

.sales__slider_arrow-right {
  right: 10px;
  top: calc(100% / 2 - 20px);
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png")
    no-repeat;
}

.sales__slider_arrow-left:hover {
  opacity: 1;
}

.sales__slider_arrow-right:hover {
  opacity: 1;
}

.sales__slider_dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
}

span.slider__dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #727272;
  border-radius: 5px;
  cursor: pointer;
}

.slider__dot_current {
  background-color: #ff0000 !important;
}

.about {
  display: flex;
  justify-content: center;
  .wrapper {
    display: block;
  }
}

.advantages {
  display: flex;
  flex-direction: column;
}

.advantage {
  display: flex;
  justify-content: space-between;
  .advantage__description {
    max-width: 45%;
    display: flex;
    align-items: center;
  }
  .advantage__image-wrapper {
    img {
      right: 0;
      max-width: 389px;
      height: 266px;
      position: relative;
      z-index: 0;
      margin-left: 20px;
    }
  }
}

.advantage__number {
  position: relative;
  z-index: 10;
  margin-bottom: -25px;
  background-color: #e30000;
  width: 40px;
  height: 50px;
  p {
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
  }
}

.address {
  font-weight: bold;
  font-size: 20px;
  color: #484848;
  text-align: center;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  span {
    font-weight: bold;
  }
}

.basket__wrapper {
  .wrapper {
    justify-content: space-between;
    .order {
      width: 35%;
    }
    .basket {
      width: 40%;
    }
  }
}

.order__form {
  display: flex;
  flex-direction: column;
}

.order__form_input,
.order__form_select {
  display: block;
}

.order__title {
  font-weight: bold;
  font-size: 23px;
}

.order__form_info {
  width: 100%;
}

.order__form_input,
.order__form_select {
  border: 1px solid #a9a9a9;
  border-radius: 4px;
  width: 100%;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: rgb(63, 63, 63);
}

.red-center {
  text-align: center;
  color: red;
}

textarea {
  height: 100px !important;
  resize: none;
}

.basket__card {
  .button__wrapper {
    overflow: auto;
    button {
      float: right;
      padding: 0;
      border: 0;
      background-color: transparent;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  img {
    width: 170px;
    height: 170px;
  }
}

.basket__card_wrapper {
  display: flex;
  width: 100%;
  .basket__card_info {
    width: 60%;
    h3 {
      font-weight: bold;
      font-size: 18px;
    }
    p {
      font-weight: 300;
      font-size: 16px;
      &.color-gray {
        color: #867979;
      }
    }
    .basket__card_price {
      font-weight: 600;
      font-size: 14px;
    }

    .basket_card_number {
      display: inline;
    }
  }
}

.basket__sum {
  font-weight: bold;
  font-size: 18px;
  span {
    color: #ff0000;
  }
}
